body {
    padding: 0;
    margin: 0;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }
  
  .legend {
    width: 17.5px;
    height: 17.5px;
    float: left;
    margin-right: 7.5px;
    opacity: 0.75;
}